{%extends "Layout.html"%}
{%block title%}
book search
{%endblock%}

{%block heading%}
{%if books%}
<h1 class="alert alert-success">Showing results for names like '{{keyword}}' total {{count}} results found {{session}}</h1><br>
{%else%}
<h1>Welcome To book search</h1><br>
{%endif%}
{%endblock%}

{%block body%}
<form class="" action="{{url_for('search')}}" method="post">
<input type="text" name="keyword" value="">
<input class="btn btn-danger" type="submit" name="search" value="Search">
</form>
{%if books%}
<table class="table table-hover">
  <tr>
    <th class="">ISBN</th>
    <th class="">TITLE</th>
    <th class="">AUTHOR</th>
    <th class="">YEAR</th>
  </tr>
{%for isbn,title,author,year in books%}
  <tr>
    <td>ISBN{{isbn}}</td>
    <td><a href="{{url_for('review',isbn=isbn)}}">{{title}}</a></td>
    <td>{{author}}</td>
    <td>{{year}}</td>
  </tr>

{%endfor%}
{%else%}
{%if keyword == ""%}
<h3 class="alert alert-danger">Please input the name of the book you are looking for!</h3>
{%elif keyword%}
<h3 class="alert alert-danger">NO results found naming "{{keyword}}"</h3>
{%endif%}
{%endif%}
</table>
{%endblock%}
